.doc {
	margin-top: -270px;
	padding-bottom: 15px;
}

.doc__holder {
	display: flex;
	flex-wrap: wrap;
	padding: 0 42px;
}

.doc__wrap {
	width: calc(100% - 370px);
}

.doc .title--inner {
	width: 370px;
	text-align: right;
}

.doc__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
	box-shadow: 0px 10px 30px 5px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	padding: 30px 25px;
	padding-bottom: 15px;
	margin-bottom: 38px;
}

.doc__subtitle {
	user-select: none;
	font-size: 18px;
	line-height: 1.2;
	color: #333;
	text-transform: uppercase;
	padding-right: 35px;
	margin-bottom: 15px;
}

.doc__block {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

.doc__elem {
	display: block;
	width: 20px;
	height: 20px;
}

.doc__elem:not(:last-child) {
	margin-right: 25px;
}

.doc__elem svg {
	display: block;
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 1150px) {

.doc__holder {
	padding: 0 20px;
}

.doc__wrap {
	width: calc(100% - 300px);
}

.doc .title--inner {
	width: 300px;
}

}

@media screen and (max-width: 960px) {

.doc {
	margin-top: -290px;
}

.doc__holder {
	padding: 0px;
}

.doc__wrap {
	width: 100%;
}

.doc .title--inner {
	width: 100%;
	order: -1;
	text-align: left;
}

.doc__item {
	padding: 25px 20px;
	padding-bottom: 15px;
	margin-bottom: 35px;
}

}

@media screen and (max-width: 780px) {

.doc__item {
	flex-wrap: wrap;
}

}

