.main-footer {
	margin-top: -22px;
	padding-bottom: 35px;
}

.main-footer__wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: calc(100% - 490px);
	padding-right: 42px;
}

.main-footer__block {
	display: flex;
}

.main-footer__holder {
	display: flex;
}

.main-footer__elem {
	font-size: 14px;
	line-height: 1.2;
	color: #333;
	margin-bottom: 20px;
}

.main-footer__elem--text {
	color: #808080;
	margin-left: 40px;
	margin-right: 25px;
}

.main-footer__col {
	font-size: 14px;
	line-height: 1.2;
	color: #333;
	margin-bottom: 20px;
}

.main-footer__col:not(:last-child) {
	margin-right: 30px;
}

.msg-modal {
	position: fixed;
	top: 30%;
	left: calc(50% - 150px);
	width: 300px;
	padding: 20px 30px;
	border-radius: 15px;
	text-align: center;
	background-color: #75af26;
	color: #fff;
	opacity: 0;
	visibility: hidden;
	font-size: 18px;
	line-height: 1.5;
	border-radius: 5px;
	z-index: 20;
	transition: 0.3s visibility, 0.3s opacity;
}

.msg-modal-active {
	opacity: 1;
	visibility: visible;
}

@media screen and (max-width: 1350px) {

.main-footer {
	margin-top: 0px;
}

.main-footer__wrap {
	width: 100%;
}

}

