.gallery__wrap {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 40px;
}

.gallery__item {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-top: 40%;
	margin-bottom: 40px;
}

.gallery__item:nth-child(odd) {
	width: calc(100% - 410px);
	margin-right: 40px;
}

.gallery__item:nth-child(even) {
	width: 370px;
}

