.main-header {
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 15;
	background-color: #e5e5e5;
	transition: 0.3s top;
}

.main-header + section {
	padding-top: 139px;
}

.main-header__content {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding-top: 43px;
	padding-bottom: 52px;
	transition: 0.3s padding;
}

.main-header__content--fixed {
	padding: 30px 0;
}

.main-header__row {
	display: flex;
	max-width: 295px;
	margin-right: auto;
}

.main-header__logo {
	max-width: 38px;
	width: 100%;
	display: block;
}

.main-header__block {
	padding-left: 13px;
}

.main-header__title {
	font-size: 24px;
	line-height: 1.2;
	color: #ff6a00;
	text-transform: uppercase;
	padding-bottom: 3px;
	font-weight: 900;
}

.main-header__text {
	font-size: 10px;
	line-height: 1.2;
	color: #ff6a00;
	text-transform: uppercase;
	font-weight: bold;
}

.main-header__holder {
	display: flex;
	align-items: center;
}

.main-header__info {
	display: flex;
	align-items: center;
	margin-right: 50px;
}

.main-header__col {
	font-size: 14px;
	line-height: 1.2;
	color: #ff6a00;
}

.main-header__col:not(:last-child) {
	margin-right: 29px;
}

.main-header__list {
	display: flex;
}

.main-header__list li:not(:last-child) {
	margin-right: 30px;
}

.main-header__link {
	position: relative;
	display: inline-block;
	font-size: 14px;
	line-height: 1.2;
	color: #ff6a00;
	text-transform: uppercase;
	transition: 0.3s color;
}

.main-header__link:hover:not(.main-header__link--active) {
	color: #8c3a00;
}

.mobile-wrap {
	display: none;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}

.line-burger {
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	width: 25px;
	height: 3px;
	background-color: #333333;
	transition: 0.5s width;
}

.line-burger:after,
.line-burger:before {
	content: '';
	position: absolute;
	width: 25px;
	height: 3px;
	background-color: #333333;
	left: 0;
	transition: 0.5s;
}

.line-burger:after {
	top: calc(100% + 5px);
}

.line-burger:before {
	bottom: calc(100% + 5px);
}

.line-active {
	width: 0;
}

.line-active:after {
	top: 9px;
	transform: rotate(-45deg);
	transform-origin: 0 0;
}

.line-active:before {
	bottom: 9px;
	transform: rotate(45deg);
	transform-origin: 0 100%;
}

.main-nav__toggle {
	position: relative;
	cursor: pointer;
	display: none;
	width: 25px;
	height: 25px;
	margin-top: -5px;
}

@media screen and (max-width: 1350px) {

.main-header__list {
	justify-content: center;
}

}

@media screen and (max-width: 1150px) {

.main-header + section {
	padding-top: 153px;
}

.main-header__content {
	padding-top: 40px;
	padding-bottom: 0px;
}

.main-header__info {
	margin-right: 0px;
	margin-left: 30px;
}

.main-header__menu {
	flex-basis: 100%;
	order: 2;
	justify-content: center;
	padding-bottom: 20px;
	margin-right: 0px;
	margin-top: 20px;
}

}

@media screen and (max-width: 1050px) {

.main-header__row {
	max-width: 275px;
}

.main-header__title {
	font-size: 22px;
}

}

@media screen and (max-width: 840px) {

.mobile-wrap {
	display: none;
	width: 100%;
	padding: 10px 20px;
}

.main-nav__toggle {
	display: block;
}

}

@media screen and (max-width: 780px) {

.main-header__row {
	max-width: 265px;
}

.main-header__block {
	padding-left: 10px;
}

.main-header__title {
	font-size: 20px;
}

.main-header__col {
	font-size: 13px;
}

}

@media screen and (max-width: 650px) {

.main-header__content {
	flex-direction: column;
}

.main-header__row {
	margin: 0 auto;
	margin-bottom: 25px;
}

.main-header__info {
	margin: 0 auto;
	flex-direction: column;
}

.main-header__col:not(:last-child) {
	margin-bottom: 15px;
}

}

@media screen and (max-width: 560px) {

.main-header + section {
	padding-top: 226px;
}

}

@media screen and (max-width: 400px) {

.main-header__list li:not(:last-child) {
	margin-right: 20px;
}

}

