.types {
	padding-bottom: 80px;
}

.types__wrap {
	display: flex;
	flex-wrap: wrap;
}

.types__item {
	width: 25%;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding-top: 28%;
	min-height: 400px;
}

.types__image {
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 0px;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	padding: 0 40px;
	padding-bottom: 22px;
}

.types__title {
	font-size: 24px;
	line-height: 1.25;
	color: #fff;
	padding-top: 55px;
	font-weight: bold;
}

.types__list {
	margin-top: auto;
}

.types__list li {
	position: relative;
	font-size: 16px;
	line-height: 1.2;
	color: #fff;
	padding-left: 20px;
	padding-bottom: 15px;
	font-family: Avenir;
	font-weight: 800;
}

.types__list li:after {
	position: absolute;
	content: '+';
	top: 0px;
	left: 0px;
}

@media screen and (max-width: 1150px) {

.types__item {
	width: 50%;
}

}

@media screen and (max-width: 780px) {

.types__item {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
}

.types__image {
	padding-bottom: 32px;
}

}

